// House styles

.house-lobby-container {
  display: flex;
  justify-content: center;
  background-image: url("./img/house-hallway.svg");
  background-size: cover;
  height: 100vh;

  .house-lobby--ul {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;

    li:nth-child(2) {
      margin-left: -4rem; //TODO: need to find out whyt margin-right doesn't work
    }
  }
}

// StairwayToBasement styles

.house-stairway--container {
  display: flex;
  justify-content: center;
  background-image: url("./img/stairway.svg");
  background-size: cover;
  height: 100vh;

  .house-stairway--ul {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
  }
}

// InsideBasement styles

.inside-basement--container {
  background-image: url("./img/inside-basement.svg");
  background-size: cover;
  height: 100vh;
}
.inside-basement--ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  list-style: none;
}
