@font-face {
  font-family: slenderFontNumber;
  src: url("../../assets/font/slender_font_number.ttf");
}

.notes-test {
  //TODO: change class name
  position: absolute;
  bottom: 7%;
  right: 5%;
  font-size: 2rem;

  h1 {
    color: #fff;
    font-family: slenderFontNumber;
  }
}
