.forest--container {
  display: flex;
  justify-content: center;
  background-image: url("./img/forest.svg");
  background-size: cover;
  height: 100vh;

  .forest--ul {
    width: 250px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;

    .forest--arrow-up {
      text-align: center;
    }

    .forest--li {
      display: flex;
      justify-content: space-around;
    }
  }
}
