.about--container {
  background-image: url("./img/forest.svg");
  background-size: cover;
  height: 100vh;
}

.about--return-btn-container {
  position: absolute;
  bottom: 14%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  .about--btn {
    font-size: 30px;
    text-decoration: none;
    color: #ffff;
    &:hover {
      color: #b9b9bb;
    }
  }
}
