.slender--container {
  display: flex;
  justify-content: center;
  background-image: url("./img/slender.svg");
  background-size: cover;
  height: 100vh;

  .slender--link {
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .slender--start-over {
      font-size: 30px;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #b9b9bb;
      }
    }

    h1 {
      color: #880808;
      font-size: 7rem;
    }
  }
}
