.inside-cave-entrance--container {
  display: flex;
  justify-content: center;
  background-image: url("./img/inside-cave.svg");
  background-size: cover;
  height: 100vh;

  .inside-cave-entrance--ul {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    width: 20%;

    .inside-cave-entrance--li {
      display: flex;
      justify-content: space-around;
    }

    .inside-cave-entrance--go-back {
      text-align: center;
    }
  }
}

// Right side of the cave styles

.inside-cave-right-side--container {
  display: flex;
  justify-content: center;
  background-image: url("./inside-components/img/inside-cave-right.svg");
  background-size: cover;
  height: 100vh;

  .inside-cave-right-side--ul {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
  }
}

// Left side of the cave styles

.inside-cave-left-side--container {
  background-image: url("./inside-components/img/inside-cave-left.svg");
  background-size: cover;
  height: 100vh;
}

.inside-cave-left-side--ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
}

.cave--note-position {
  scale: 0.1;
  transform: skew(0deg, -10deg);
}
