.cave-entrance--container {
  display: flex;
  justify-content: center;
  background-image: url("./img/cave-entrance.svg");
  background-size: cover;
  height: 100vh;

  .cave-entrance--ul {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;

    li:nth-child(2) {
      margin-left: 4rem;
    }
  }
}
